<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	
	<style>
		.jumbotron{
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
		}

		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}

		.selecionado{
			background: yellow;
		}

	</style>
	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("listaTelefonica",[]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefônica";
			$scope.contatos = [
			{nome: "Jefferson", telefone: "40028922", operadora:{"nome":"Vivo","codigo":21}, cor:"blue"},
			{nome: "Ian", telefone: "99653011", operadora:{"nome":"Vivo","codigo":21}, cor:"red"},
			{nome: "Teste", telefone: "99996666", operadora:{"nome":"Vivo","codigo":21}, cor:"green"}
			];

			$scope.operadoras = [
			{nome: "Oi", codigo: 31},
			{nome: "Vivo", codigo: 21},
			{nome: "Tim", codigo: 41}
			];

			$scope.cores = [
			{nome: "Azul", codigo:"blue"},
			{nome: "Vermelho", codigo:"red"},
			{nome: "Verde", codigo:"green"},
			{nome: "Amarelo", codigo:"yellow"},
			]
			

			$scope.adicionarContato = function (contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();

			};
			
			$scope.class = "selecionado";
			
			$scope.apagarContato = function(contatos){
				 $scope.contatos = contatos.filter(function(contato){
					if (!contato.selecionado) return contato;
				});
			};
			
			$scope.isContatosSelecionado = function(contatos){
				return contatos.some(function (contato){
					return contato.selecionado;
				
				});
			};
			
			
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
				
			</tr>
		</table>

		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-maxlength="15">
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" 
			ng-pattern="/^\d{4,5}-\d{4}$/" ng-required="true">
			<select class="form-control"  ng-model="contato.operadora" name="operadora"ng-options="operadora.nome for operadora in operadoras" ng-required="true"> 
				<option value=""> Selecione uma operadora</option>
			</select>
			<select class="form-control"  ng-model="contato.cor" name="cor" ng-options= "cor.codigo as cor.nome for cor in cores" ng-required="true"> 
				<option value=""> Selecione uma cor</option>
			</select>
		</form>
		<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
			Por favor preencha o nome.
		</div>
		<div ng-show="contatoForm.nome.$error.maxlength" class="alert alert-danger">
			Nome no maximo 15 caracteres.
		</div>
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor preencha o telefone.
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ser adicionado da forma 99999-99999.
		</div>
		<div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger">
			Por favor preencha o operadora.
		</div>
		<div ng-show="contatoForm.cor.$invalid && contatoForm.cor.$dirty" class="alert alert-danger">
			Por favor preencha o cor.
		</div>
		<button class= "btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid"> Adicionar 
		Contato</button>
		<button class= "btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatosSelecionado(contatos)"> Apagar Contato</button>
	</div>

</body>
</html> 